set timeout=5
set default=0

menuentry "LingOS (Live)" {
    multiboot2 /boot/lingos-x86_64.elf
    boot
}

menuentry "LingOS (Install)" {
    multiboot2 /boot/lingos-installer-x86_64.elf
    module2 /boot/diskboot.img "diskboot"
    boot
}
